.page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-box-item {
  margin-bottom: 20px;
}
.page-title {
  text-align: center;
}

.test {
  background-color: #ffa540 !important;
  border: dotted 2px #000 !important;
}
.testr {
  background-color: #ff9090 !important;
  border: dotted 2px #ff0000 !important;
}
.testg {
  background-color: #008000 !important;
  border: dotted 2px #fff !important;
}
.testb {
  background-color: #0000ff !important;
  border: dotted 2px #dd6108 !important;
}
