.page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-box-item {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.page-title {
  text-align: center;
}

.card {
  margin: 0 !important;
  padding: 10px;
  width: 300px;
  background-color: #81887d;
  border: 2px solid #c66c5d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  background-color: #f4d99c90;
  transform: scale(1.05);
}
.card-line {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
}
.card-line h4 {
  color: #000;
  margin: 0;
}
.card-line p {
  color: #000;
  margin: 0;
}

.button {
  background-color: #c66c5d;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  transition: 1s;
  cursor: pointer;
  font-size: 100%;
}
.button:hover {
  background-color: #f4d99c;
}

.test {
  background-color: #ffa540 !important;
  border: dotted 2px #000 !important;
}
.testr {
  background-color: #ff9090 !important;
  border: dotted 2px #ff0000 !important;
}
.testg {
  background-color: #008000 !important;
  border: dotted 2px #fff !important;
}
.testb {
  background-color: #0000ff !important;
  border: dotted 2px #dd6108 !important;
}
